* {
  padding: 0;
  margin: 0;
  list-style: none;
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
  outline: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #e4e3f1;
  display: flex;
  margin: 0
  flex-direction: column;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, "Pingfang SC", "Segoe UI", "Helvetica Neue", Verdana, Arial, STHeiti, "Microsoft Yahei", sans-serif;
  overflow: hidden;
}

.font-mono {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

.irouter {
  height 100%
  margin: 0 100px;
  background-color: #ffffff;
}

#app {
  height 100%
}

.fl
  float left

.fr
  float right
